{:paths ["src"]
 :pablo/config
 {:github      "teknql/tapestry"
  :desc        "Loom for Clojure"
  :target      :jar
  :group-id    teknql
  :artifact-id tapestry}
 :aliases
 {:test
  {:extra-paths ["test"]
   :jvm-opts    ["--enable-preview"]
   :main-opts   ["-m" "kaocha.runner"]
   :extra-deps
   {org.clojure/test.check {:mvn/version "0.10.0"}
    lambdaisland/kaocha    {:mvn/version "0.0-541"}}}}
 :deps
 {manifold/manifold {:mvn/version "0.1.9-alpha3"}}}
