{:paths ["src"]
 :pablo/config
 {:github      "teknql/tapestry"
  :desc        "Loom for Clojure"
  :target      :jar
  :group-id    teknql
  :artifact-id tapestry}
 :deps
 {manifold {:mvn/version "0.1.9-alpha3"}}}
